body{
    margin:0;
    background:#08152d;
    font-family:Segoe UI,Arial,sans-serif;
    color:#fff;
}

header{
    text-align:center;
    padding:20px 20px 5px 20px;
}
.logo{
    width:95%;
    max-width:550px;
    height:auto;
    display:block;
    margin:20px auto;
}
#busca{
    width:90%;
    max-width:700px;
    height:60px;

    border-radius:20px;
    border:2px solid #f0a500;

    background:#1d2335;
    color:white;

    font-size:22px;

    padding-left:25px;

    margin-top:20px;
}

#contador{
    text-align:center;
    color:#72b8ff;
    font-size:18px;
    font-weight:bold;
    margin:15px 0 25px 0;
}

#resultado{
    width:95%;
    max-width:1000px;
    margin:auto;
}

.card{
    background:#1c2337;
    border-radius:22px;
    padding:25px;
    margin:20px auto;
    max-width:1000px;
    box-shadow:0 8px 20px rgba(0,0,0,.35);
}

.codigo{
    display:inline-block;
    min-width:90px;
    text-align:center;

    padding:10px 15px;

    border:3px solid #f0a500;
    border-radius:18px;

    font-size:28px;
    font-weight:bold;

    margin-bottom:20px;
}

.card h3{
    margin:0;
    font-size:52px;
    color:white;
}

.artista{
    color:#6eb6ff;
    font-size:34px;
    margin-top:15px;
}

.busca-container{
    position:relative;
    width:90%;
    max-width:700px;
    margin:20px auto;
}

.lupa{
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:24px;
    color:#888;
}

#busca{
    width:100%;
    padding-left:60px;
}